<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
</head>
<body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
        crossorigin="anonymous"></script>
{% load static %}
{% load socialaccount %}
<nav class="navbar navbar-expand-lg bg-success">
    <div class="container-xxl">
        <a class="navbar-brand text-warning fs-1 fw-bold fst-italic" href="{%url 'index'%}">LMS</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        {% if user.is_authenticated %}
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="{%url 'teachers'%}">
                        <button type="button" class="btn btn-outline-dark fs-5 fst-italic fw-bold">Teachers</button>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{%url 'students'%}">
                        <button type="button" class="btn btn-outline-dark fs-5 fst-italic fw-bold">Students</button>
                    </a>
                </li>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{%url 'groups'%}">
                        <button type="button" class="btn btn-outline-dark fs-5 fst-italic fw-bold">Groups</button>
                    </a>
                </li>
            </ul>
            <form class="d-flex" role="search" method="GET" action="{% url 'students' %}">
                <input class="form-control me-2" type="text" placeholder="Search" name="search" aria-label="Search">
                <button class="btn btn-warning" type="submit">Search</button>
            </form>
            {% endif %}
            {% if user.is_authenticated and not user.is_stuff and not user.is_superuser%}
            <nav class="navbar navbar-expand-lg navbar-dark ">
                <div class="container-fluid">
                    <a class="navbar-brand" href="#"><img src="{% static 'students/images/empty_avatar.png'%}"
                                                          alt="Avatar" class="rounded-circle" width="55"
                                                          height="55"></a>
                </div>
                <div class="dropdown">
                    <button class="btn btn-outline-dark fs-6 fst-italic fw-bold dropdown-toggle" type="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                        Welcome {{user.first_name}} {{user.last_name}}
                    </button>
                    <ul class="dropdown-menu">
                        <li>
                            <a class="nav-link" href="{%url 'user_profile' user.pk%}">
                                <button class="dropdown-item" type="button">Profile</button>
                            </a>
                        </li>
                        <li>
                            <a class="nav-link" href="{%url 'change_password' user.pk%}">
                                <button class="dropdown-item" type="button">Change password</button>
                            </a>
                        </li>
                        <li>
                            <a class="nav-link" href="{%url 'logout'%}">
                                <button class="dropdown-item" type="button">Logout</button>
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
            {% endif %}

            {% if user.is_authenticated and user.is_staff%}
            <nav class="navbar navbar-expand-lg navbar-dark ">
                <div class="container-fluid">
                    <a class="navbar-brand" href="#"><img src="{% static 'students/images/empty_avatar.png'%}"
                                                          alt="Avatar" class="rounded-circle" width="55"
                                                          height="55"></a>
                </div>
                <div class="dropdown">
                    <button class="btn btn-outline-dark fs-6 fst-italic fw-bold dropdown-toggle" type="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                         Welcome {{user.first_name}} {{user.last_name}}
                    </button>
                    <ul class="dropdown-menu">
                        <li>
                            <a class="nav-link" href="{%url 'admin:index'%}">
                                <button class="dropdown-item" type="button">Admin panel</button>
                            </a>
                        </li>
                        <li>
                            <a class="nav-link" href="{%url 'user_profile' user.pk%}">
                                <button class="dropdown-item" type="button">Profile</button>
                            </a>
                        </li>
                        <li>
                            <a class="nav-link" href="{%url 'change_password' user.pk%}">
                                <button class="dropdown-item" type="button">Change password</button>
                            </a>
                        </li>
                        <li>
                            <a class="nav-link" href="{%url 'logout'%}">
                                <button class="dropdown-item" type="button">Logout</button>
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
            {% endif %}
            {% if not user.is_authenticated%}
            <nav class="navbar navbar-expand-lg navbar-dark ">
                <div class="container-fluid">
                    <a class="navbar-brand" href="#"><img src="{% static 'students/images/empty_avatar.png'%}"
                                                          alt="Avatar" class="rounded-circle" width="55"
                                                          height="55"></a>
                </div>
                <div class="dropdown">
                    <button class="btn btn-outline-dark fs-6 fst-italic fw-bold dropdown-toggle" type="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                         Welcome {{user.first_name}} {{user.last_name}}
                    </button>
                    <ul class="dropdown-menu">
                        <li>
                            <a class="nav-link" href="{%url 'login'%}">
                                <button class="dropdown-item" type="button">Login</button>
                            </a>
                        </li>
                        <li>
                            <a class="nav-link" href="{%url 'register'%}">
                                <button class="dropdown-item" type="button">Registration by Email</button>
                            </a>
                        </li>
                        <li>
                            <hr class="dropdown-divider"/>
                        </li>
                        <li>
                            <form action="{% provider_login_url 'google' %}" method="post">
                                {% csrf_token %}
                                <button class="dropdown-item" type="submit">Sign by Google</button>
                            </form>
                        </li>
                        <li>
                            <form action="{% provider_login_url 'facebook' %}" method="post">
                                {% csrf_token %}
                                <button class="dropdown-item" type="submit">Sign by Facebook</button>
                            </form>
                        </li>
                        <li>
                            <form action="{% provider_login_url 'github' %}" method="post">
                                {% csrf_token %}
                                <button class="dropdown-item" type="submit">Sign by Github</button>
                            </form>
                        </li>
                    </ul>
                </div>
            </nav>
            {% endif %}
        </div>
    </div>
</nav>

{% block content %}
{% endblock %}

</body>
</html>