{% extends 'base.html'%}
{% block content %}
{% load static %}
<table class="table table-success table-striped">
    <thead>
    <tr>
        <th scope="col">Avatar</th>
        <th scope="col">First name</th>
        <th scope="col">Last name</th>
        <th scope="col">Email</th>
        <th scope="col">Birth date</th>
        <th scope="col">Grade</th>
        <th scope="col">Done hw</th>
        <th scope="col">GroupId</th>
        <th scope="col">Curriculum vitae</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <th scope="row" class="align-middle">
            {%if student.avatar%}
                <img src="{{student.avatar.url}}" style="width:150px;height:150px;">
            {%else%}
                <img src="{% static 'students/images/empty_avatar.png'%}" style="width:150px;height:150px;">
            {%endif%}
        </th>
        <td class="align-middle">{{student.first_name}}</td>
        <td class="align-middle">{{student.last_name}}</td>
        <td class="align-middle">{{student.email}}</td>
        <td class="align-middle">{{student.birth_date}}</td>
        <td class="align-middle">{{student.grade}}</td>
        <td class="align-middle">{{student.done_hw}}</td>
        <td class="align-middle">{{student.group_id}}</td>
        <td class="align-middle">
            {%if student.cv%}
            <a href="{{student.cv.url}}">
                <img src="{% static 'students/images/pdf_download.png'%}"
                     style="width:75px;height:75px;">
            </a>
            {%else%}
                <img src="{% static 'students/images/gray_pdf.png'%}" style="width:75px;height:75px;">
            {%endif%}
        </td>
    </tr>
  </tbody>
  </table>

<br>
    <form method="POST"   style="margin: auto;" class="col-md-4 text-center" enctype="multipart/form-data">
        {% csrf_token %}
        <p>"Do you want to delete student {{student.first_name}} {{student.last_name}} ?"</p>
        <input type="submit" value="Delete" class="btn btn-danger">
    </form>

{% endblock content %}