{% extends 'base.html'%}
{%load static%}
{% block content %}
<br>
<form style="margin: auto;" class="row justify-content-center col-lg-8" method="get">
    <div class="col-md-4 text-center">
        <label for="first_name" class="form-label">First name</label>
        <input type="text" name="first_name" class="form-control" id="first_name" placeholder="John">
        <div class="valid-feedback">
        </div>
    </div>
    <div class="col-md-4 text-center">
        <label for="last_name" class="form-label">Last name</label>
        <input type="text" name="last_name" class="form-control" id="last_name" placeholder="McDonald">
        <div class="valid-feedback">
        </div>
    </div>
    </div>
    <div class="col-md-4 text-center">
        <label for="email" class="form-label">Email</label>
        <input type="text" name="email" class="form-control" id="email" placeholder="example@com.ua">
        <div class="valid-feedback">
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-4 text-center"><br>
            <input type="submit" value="Search" class="btn btn-warning">
        </div>
    </div>
</form>
<div class=" d-md-flex justify-content-md-end">
    <a  href="{%url 'create_student'%}">
        <button type="button" class="btn btn-success fs-6 fst-italic fw-bold me-md-4">+ Add student</button>
    </a>
</div>
<br>

<table class="table table-success table-striped">
    <thead>
    <tr>
        <th scope="col">Avatar</th>
        <th scope="col">First name</th>
        <th scope="col">Last name</th>
        <th scope="col">Email</th>
        <th scope="col">Birth date</th>
        <th scope="col">Grade</th>
        <th scope="col">Done hw</th>
        <th scope="col">GroupId</th>
        <th scope="col">Curriculum vitae</th>
        <th scope="col">Edit</th>
        <th scope="col">Delete</th>
    </tr>
    </thead>
    <tbody>
    {%for student in students%}
    <tr>
        <th scope="row" class="align-middle">
            {%if student.avatar%}
                <img src="{{student.avatar.url}}" style="width:150px;height:150px;">
            {%else%}
                <img src="{% static 'students/images/empty_avatar.png'%}" style="width:150px;height:150px;">
            {%endif%}
        </th>
        <td class="align-middle">{{student.first_name}}</td>
        <td class="align-middle">{{student.last_name}}</td>
        <td class="align-middle">{{student.email}}</td>
        <td class="align-middle">{{student.birth_date}}</td>
        <td class="align-middle">{{student.grade}}</td>
        <td class="align-middle">{{student.done_hw}}</td>
        <td class="align-middle">{{student.group_id}}</td>
        <td class="align-middle">
            {%if student.cv%}
            <a href="{{student.cv.url}}">
                <img src="{% static 'students/images/pdf_download.png'%}"
                     style="width:75px;height:75px;">
            </a>
            {%else%}
                <img src="{% static 'students/images/gray_pdf.png'%}" style="width:75px;height:75px;">
            {%endif%}
        </td>
        <td class="align-middle"><a class='btn btn-warning' href="{%url 'update_student' student.pk%}">Edit</a></td>
        <td class="align-middle"><a class='btn btn-danger' href="{%url 'delete_student' student.pk%}">Delete</a></td>
    </tr>
    {%endfor%}
    </tbody>
</table>
{% endblock content %}