{%extends 'base.html'%}
{% load static %}
{% block content %}
<div class="card-img">
        <p class="fs-1 fw-bold text-black text-center">Asterisk - your IT school</p>
    </div>

<div class="row">
    <div class="col-8">
        <img src="{% static 'students/images/Program.jpg'%}" alt="busy_programmer">
    </div>

        <div class="col-4 justify-content-md-end">
            <p style="line-height: 26px;" class="card-text text-center badge bg-secondary me-md-4 text-wrap fs-4 fst-italic opacity-75">
                Почни свій шлях в IT!
                Комп'ютерна школа Asterisk — одна з найбільших IT-шкіл в Україні,
                і з кожним роком ми продовжуємо розвиватися і впроваджувати інновації у навчання.
                До нас приходять і ті, хто хоче придбати нову професію або «прокачати» вже існуючі
                знання, і люди, які бажають підвищити свою кваліфікацію.

                Одним з ключових показників нашої роботи є відсоток працевлаштованих студентів.
                Для того, щоб цей показник був максимально високим, до викладацького складу ми
                запрошуємо тільки практикуючих фахівців з кращих IT-компаній, підбираємо корисні
                відеоматеріали і максимально комфортно організовуємо навчальний процес.
            </p>
        </div>
    </div>
{% endblock %}

</body>
</html>