{% extends 'base.html'%}
{% block content %}
<br>
    <form method="POST"   style="margin: auto;" class="col-md-4 text-center">
        {% csrf_token %}
        <div class="form-group">
            {{form.as_p}}
        </div>
        <br>
        <input type="submit" value="Login" class="btn btn-warning"><br /><br />
        <a href="{% url 'reset_password' %}">Forgot password?</a>
    </form>
<br>

{% endblock %}