{% extends 'base.html'%}
{% block content %}
<br>
    <form method="POST"   style="margin: auto;" class="col-md-4 text-center">
        {% csrf_token %}
        <div class="form-group">
            {{form.as_p}}
        </div>
        <br>
        <input type="submit" value="Change password" class="btn btn-warning">
    </form>
<br>
{% endblock %}