{% extends 'base.html'%}
{% block content %}
<div class="container rounded bg-white mt-5 mb-5">
    <div class="row">
        <div class="col-md-3 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-5" width="250px" src="{{user.photo.url}}"><br /><br />
                <span class="font-weight-bold ">{{user.first_name}} {{user.last_name}}</span><span class="text-black-50">{{user.email}}</span></div>
        </div>
        <div class="col-md-5 border-right">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4 class="text-right">Profile</h4>
                </div>
                <div class="row mt-2">
                    <div class="col-md-6"><label class="labels">First Name</label><div class="rounded border border-success p-2 mb-2">{{user.first_name}}</div></div>
                    <div class="col-md-6"><label class="labels">Last Name</label><div class="rounded border border-success p-2 mb-2">{{user.last_name}}</div></div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-12"><label class="labels">Email</label><div class="rounded border border-success p-2 mb-2">{{user.email}}</div></div>
                    <div class="col-md-12"><label class="labels">Address</label><div class="rounded border border-success p-2 mb-2">{{user.address}}</div></div>
                    <div class="col-md-12"><label class="labels">User type</label><div class="rounded border border-success p-2 mb-2">{{user.user_type}}</div></div>
                    <div class="col-md-12"><label class="labels">Facebook</label><div class="rounded border border-success p-2 mb-2">{{user.facebook}}</div></div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-6"><label class="labels">Instagram</label><div class="rounded border border-success p-2 mb-2">{{user.instagram}}</div></div>
                    <div class="col-md-6"><label class="labels">Twitter</label><div class="rounded border border-success p-2 mb-2">{{user.twitter}}</div></div>
                </div>
                <div class="mt-3 text-center "><a href="{% url 'update_user_profile' user.pk %}"> <button class="btn btn-warning profile-button" type="button">Update</button></a></div>
            </div>
        </div>
        <div class="col-md-4"></br></br>
            <h4 class="text-right">Location</h4>
            </br>
            <div class="d-flex justify-content-between align-items-center mb-3">

            <iframe
                  width="450"
                  height="450"
                  style="border:0"
                  loading="lazy"
                  allowfullscreen
                  referrerpolicy="no-referrer-when-downgrade"

                  src="https://www.google.com/maps/embed/v1/place?key={{key_api}}&q={{user.address}}">
            </iframe>
                </div>
        </div>
    </div>
</div>
</div>
</div>
{% endblock %}

