{% extends 'base.html'%}
{% block content %}
{% load static %}
<table class="table table-success table-striped">
    <thead>
    <tr>
        <th scope="col">Avatar</th>
        <th scope="col">First name</th>
        <th scope="col">Last name</th>
        <th scope="col">Email</th>
        <th scope="col">Degree</th>
        <th scope="col">Checked hw</th>
        <th scope="col">Modified</th>
        <th scope="col">Groups</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <th scope="row" class="align-middle">
            {%if teacher.avatar%}
                <img src="{{teacher.avatar.url}}" style="width:150px;height:150px;">
            {%else%}
                <img src="{% static 'students/images/empty_avatar.png'%}" style="width:150px;height:150px;">
            {%endif%}
        </th>
        <td class="align-middle">{{teacher.first_name}}</td>
        <td class="align-middle">{{teacher.last_name}}</td>
        <td class="align-middle">{{teacher.email}}</td>
        <td class="align-middle">{{teacher.degree}}</td>
        <td class="align-middle">{{teacher.checked_hw}}</td>
        <td class="align-middle">{{teacher.modified}}</td>
        <td class="align-middle"><br>
            {%if teacher.linked_group_id.values %}
                {%for group in teacher.linked_group_id.values%}
                    <a class='btn btn-success' href="{%url 'group_info' group.group_id %}">Group{{group.group_id}}</a>
                    <br><br>
                {% endfor %}
            {% else %}
                <button class="btn btn-secondary">No group</button>
                <br><br>
            {% endif %}
        </td>
    </tr>
  </tbody>
  </table>

<br>
    <form method="POST"   style="margin: auto;" class="col-md-4 text-center" enctype="multipart/form-data">
        {% csrf_token %}
        <p>"Do you want to delete teacher {{teacher.first_name}} {{teacher.last_name}} ?"</p>
        <input type="submit" value="Delete" class="btn btn-danger">
    </form>

{% endblock content %}