{% extends 'base.html'%}
{%load static%}
{% block content %}
<br>
<form style="margin: auto;" class="row justify-content-center col-lg-8" method="get">
    <div class="col-md-4 text-center">
        <label for="first_name" class="form-label">First name</label>
        <input type="text" name="first_name" class="form-control" id="first_name" placeholder="John">
        <div class="valid-feedback">
        </div>
    </div>
    <div class="col-md-4 text-center">
        <label for="last_name" class="form-label">Last name</label>
        <input type="text" name="last_name" class="form-control" id="last_name" placeholder="McDonald">
        <div class="valid-feedback">
        </div>
    </div>
    </div>
    <div class="col-md-4 text-center">
        <label for="email" class="form-label">Email</label>
        <input type="text" name="email" class="form-control" id="email" placeholder="example@com.ua">
        <div class="valid-feedback">
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-4 text-center"><br>
            <input type="submit" value="Search" class="btn btn-warning">
        </div>
    </div>
</form>
<div class=" d-md-flex justify-content-md-end">
    <a  href="{%url 'create_teacher'%}">
        <button type="button" class="btn btn-success fs-6 fst-italic fw-bold me-md-4">+ Add teacher</button>
    </a>
</div>
<br>

<table class="table table-success table-striped">
    <thead>
    <tr>
        <th scope="col">Avatar</th>
        <th scope="col">First name</th>
        <th scope="col">Last name</th>
        <th scope="col">Email</th>
        <th scope="col">Degree</th>
        <th scope="col">Checked hw</th>
        <th scope="col">Modified</th>
        <th scope="col">Edit</th>
        <th scope="col">Delete</th>
        <th scope="col">Groups</th>
    </tr>
    </thead>
    <tbody>
    {%for teacher in teachers%}
    <tr>
        <th scope="row" class="align-middle">
            {%if teacher.avatar%}
                <img src="{{teacher.avatar.url}}" style="width:150px;height:150px;">
            {%else%}
                <img src="{% static 'students/images/empty_avatar.png'%}" style="width:150px;height:150px;">
            {%endif%}
        </th>
        <td class="align-middle">{{teacher.first_name}}</td>
        <td class="align-middle">{{teacher.last_name}}</td>
        <td class="align-middle">{{teacher.email}}</td>
        <td class="align-middle">{{teacher.degree}}</td>
        <td class="align-middle">{{teacher.checked_hw}}</td>
        <td class="align-middle">{{teacher.modified}}</td>
        <td class="align-middle"><a class='btn btn-warning' href="{%url 'update_teacher' teacher.pk%}">Edit</a></td>
        <td class="align-middle"><a class='btn btn-danger' href="{%url 'delete_teacher' teacher.pk%}">Delete</a></td>
        <td class="align-middle"><br>
            {%if teacher.linked_group_id.values %}
                {%for group in teacher.linked_group_id.values%}
                    <a class='btn btn-success' href="{%url 'group_info' group.group_id %}">Group{{group.group_id}}</a>
                    <br><br>
                {% endfor %}
            {% else %}
                <button class="btn btn-secondary">No group</button>
                <br><br>
            {% endif %}
        </td>
    </tr>
    {%endfor%}
    </tbody>
</table>
{% endblock %}