{% extends 'base.html'%}
{% load static %}
{% block content %}
<br>
    <form method="POST" style="margin: auto;" class="col-md-4 text-center">
        {% csrf_token %}
        <div class="form-group">
            {{form}}
        </div>
        <br>
        <input type="submit" value="Submit" class="btn btn-warning">
    </form>
<br>
{% endblock %}