{% extends 'base.html'%}
{% block content %}
{% load static %}
<table class="table table-success table-striped">
    <thead>
    <tr>
        <th scope="col">GroupId</th>
        <th scope="col">Faculty</th>
        <th scope="col">Course</th>
        <th scope="col">Start date</th>
        <th scope="col">Course duration weeks</th>
        <th scope="col">Lessons in course</th>
        </tr>
    </thead>
    <tbody>
    <tr>
        <th scope="row">{{group.pk}}</th>
        <td>{{group.faculty}}</td>
        <td>{{group.course}}</td>
        <td>{{group.start_date}}</td>
        <td>{{group.course_duration_weeks}}</td>
        <td>{{group.lsn_in_course}}</td>
    </tr>
    </tbody>
</table>

<br>
    <form method="POST"   style="margin: auto;" class="col-md-4 text-center">
        {% csrf_token %}
        <p>"Do you want to delete group {{group.faculty}} {{group.course}} ?"</p>
        <input type="submit" value="Delete" class="btn btn-danger">
    </form>
<br>
{% endblock %}