{% extends 'base.html'%}
{% block content %}
<br>
<form style="margin: auto;" class="row justify-content-center col-lg-8" method="get">
    <div class="col-md-4 text-center">
        <label for="course" class="form-label">Course</label>
        <input type="search" name="course" class="form-control" id="course" placeholder="basic">
        <div class="valid-feedback">
        </div>
    </div>
    <div class="col-md-4 text-center">
        <label for="faculty" class="form-label">Faculty</label>
        <input type="search" name="faculty" class="form-control" id="faculty" placeholder="Python">
        <div class="valid-feedback">
        </div>
    </div>
    <div class="col-md-4 text-center">
        <label for="group_id" class="form-label">GroupId</label>
        <input type="number" min="0" step="1" name="group_id" class="form-control" id="group_id" value="0">
        <div class="valid-feedback">
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-md-4 text-center"><br>
            <input type="submit" value="Search" class="btn btn-warning">
        </div>
    </div>
</form><br>
<div class=" d-md-flex justify-content-md-end">
    <a  href="{%url 'create_group'%}">
        <button type="button" class="btn btn-success fs-6 fst-italic fw-bold me-md-4">+ Add group</button>
    </a>
</div>
<br>

<table class="table table-success table-striped">
    <thead>
    <tr>
        <th scope="col">GroupId</th>
        <th scope="col">Faculty</th>
        <th scope="col">Course</th>
        <th scope="col">Start date</th>
        <th scope="col">Course duration weeks</th>
        <th scope="col">Lessons in course</th>
        <th scope="col">Edit</th>
        <th scope="col">Delete</th>
    </tr>
    </thead>
    <tbody>
    {%for group in groups%}
    <tr>
        <th scope="row">{{group.pk}}</th>
        <td>{{group.faculty}}</td>
        <td>{{group.course}}</td>
        <td>{{group.start_date}}</td>
        <td>{{group.course_duration_weeks}}</td>
        <td>{{group.lsn_in_course}}</td>
        <td><a class='btn btn-warning' href="{%url 'update_group' group.pk%}">Edit</a></td>
        <td><a class='btn btn-danger' href="{%url 'delete_group' group.pk%}">Delete</a></td>
    </tr>
    {%endfor%}
    </tbody>
</table>

{% endblock %}